<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ApexTV"
        android:theme="@style/Theme.ApexTV"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activities.MainActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activities.PlayerActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".activities.VodActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activities.AdminActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activities.DetailActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activities.SearchActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activities.AccountActivity"
            android:screenOrientation="landscape"/>

    </application>
</manifest>
